html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/*Eigen css*/
#body {
    min-height: 800px;
    background-color:#FFF;
    width:1024px;
    margin-left:auto;
    margin-right: auto;
    display:block;


    background-image:url('../Content/Images/swirl2.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right 100px;
}

    header {
        height:100px;
        background-color:#3398AD;
        
    }

.headercontent {
        width:1024px;
        height:60px;
        margin-left:auto;
        margin-right:auto;
    
}

.title {
    float:left;
    width:300px;
    font-size:25px;
    margin-left:25px;
    height:80px;
    margin-top:-10px;
    
}

    .title h1 a {
    color:#FFF;
    text-decoration:none;
    }


    #login {
    float:right;

}

        #login ul {
        list-style:none;
        }
        #login li {
            display:inline;
            margin-right:15px;
        }
        #login a {
            color:#FFF;
            text-decoration:none;
        }


nav {
    width:1024px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-15px;
    background-color:#FFC853;
    text-align:center;
    
}
#menu {
    height:30px;
}   

        #menu li {
            text-align:center;
            display:inline;
            height:40px;
            margin-right:25px;
        }
       #menu a {
            
            font-size:24px;
            color:#FFF;
            text-decoration:none;
        }

    #menu li:hover {
        border-bottom:3px solid #FFF;
    }

footer {
    background-color:#3398AD;
    height:60px;
    margin-top:-15px;
    color:#FFF;
}

.footer-content {
    margin-top:10px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;

}

.float-left {
    float:left;
    width:300px;
    margin-left:25px;
}

.float-right {
    float:right;
    width:100px;
    margin-top:10px;
}



.float-right img {
    max-height:30px;
    float: right;
    margin-right:50px;
}


.title img{
    max-height:50px;
}

.homeWrapper figure{
    margin-top:50px;
    float:left;
}

    .homeWrapper figure img {
    max-height:450px;
    max-width:600px;
    margin-left:40px;
    }

    .homeWrapper figure figcaption {
    position:relative;
    top:-110px;
    left:100px;
    color:#FFF;
    background: rgba(0, 0, 0, 0.8);
    font-size:28px;
    padding:20px;
    width:120px;
    text-align:center;

    }


.introText {
    margin-top:50px;
    margin-left:30px;
    width:200px;
    float:left;
    display:inline;
    padding:10px;
    background: rgba(255, 255, 255, 0.9);
    border-top:2px solid #ED593B;
}

#lineupwrap {
    padding-top:150px;
    margin-left:250px;

}
    
    #lineupwrap table td a {color: #FFF;}    
    #lineupwrap table {font-size:18px; border-spacing:0; margin-bottom:30px;     }
    #lineupwrap table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    #lineupwrap table  tr:nth-child(odd)		{ background-color:#50483D; }
    #lineupwrap table  tr:nth-child(even)		{ background-color:#ED593B; }
    #lineupwrap table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


#lineupwrap a {
    text-decoration:none;
   color:#000;

}

    #lineupwrap a:hover {
    color:#FFC853;
    }

#lineupwrap ul{

    list-style:none;

}



#day {
    margin-right:50px;
    float:left;
}

#lineup {
    float:left;

}


#bandWrapper {

}

#bandWrapper img{
    margin-top:100px;
    margin-left:50px;
    min-height:400px;
    max-width:500px;
    float:left;
    margin-right:40px;
    border-right: 8px solid #ED593B;
    border-bottom: 8px solid #ED593B;
}

#bandInfo {
    padding-top:100px;
    margin-left:50px;
}

    #bandInfo p {
        padding:10px;
        background:rgba(255,255,255,0.8);
    }


    #bandInfo h2 {
        border-bottom:3px solid #ED593B;
        font-size:24px;
    }

    #bandInfo li {
        list-style:none;
    }

    #bandWrapper a {
        text-decoration:none;
        color:#000;
    }



.orderWrap table {float:left;width:95%;}
    .orderWrap table td a {color: #FFF;}    
    .orderWrap table {font-size:18px; border-spacing:0; margin-bottom:30px;     }
    .orderWrap table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    .orderWrap table  tr:nth-child(odd)		{ background-color:#50483D; }
    .orderWrap table  tr:nth-child(even)		{ background-color:#ED593B; }
    .orderWrap table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


.orderWrap a {
    text-decoration:none;
   color:#000;
}

.orderWrap {
    padding-top:50px;
    margin-left:5%;
}


#placeOrder {
  display:block;
  float:left;
  background:#3398AD;
  width:95%;

}


#placeOrder {

}

#message {
    display:block;
    color:#FFC853;
}

.bubble {
    z-index:0;
    width: 60px;
    height: 60px;
    background: #ffb200;
    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    position: absolute;
}

.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.2;
    -webkit-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x2 {
    left: 1024px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.5;
    -webkit-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -o-animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
    left: 800px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
    -webkit-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -o-animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.35;
    -webkit-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -o-animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;
}
.x5 {
    left: 250px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3; 
    -webkit-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -o-animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
@-webkit-keyframes moveclouds { 
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes moveclouds {     
    0% { 
        top: 500px;
    }

    100% { 
        top: -500px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}
@-o-keyframes moveclouds {
    0% { 
        top: 500px;
    }
    100% { 
        top: -500px;
    }
}

@-o-keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {
        margin-left:50px;
    }
}



    #placeOrder span {
        font-size:120%;
    }


#placeOrder form{
  
  color:#FFF;
  font-weight:800;
  padding:30px;
  
  margin-left:35%;
}




#addRss {
    padding:10px;
    margin-left:8%;
    width:30%;
    text-align:center;
    background:#3398AD;
    height:20%;
    margin-top:30%;
    color:#FFF;
}

.ticketVerkoop {
    width:95%;
    padding-top:50px;
    margin-left:10%;
     
}


.ticketVerkoop table {float:left;width:50%;}
    .ticketVerkoop table td a {color: #FFF;}    
    .ticketVerkoop table {font-size:18px; border-spacing:0; margin-bottom:30px;     }
    .ticketVerkoop table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    .ticketVerkoop table  tr:nth-child(odd)		{ background-color:#50483D; }
    .ticketVerkoop table  tr:nth-child(even)		{ background-color:#ED593B; }
    .ticketVerkoop table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


.ticketVerkoop a {
   text-decoration:none;
   color:#000;
}


.credentialWrappers {

    padding-top:50px;

}

    .credentialWrappers h1 {
        margin-left:60%;
    }

    .credentialWrappers form {
        width:25%;
        margin-left:20%;
        display:block;
    
    }

        .credentialWrappers form li {
            list-style:none;
        }


.social {
    margin-left:20%;
    float:left;
    width:30%;
}

#externalLogins {
    margin-left:20%;
    width:30%;

}

.credentialWrappers h3 {
    margin-left:20%;
}
.credentialWrappers h3:first-child {
    margin-left:0%;
}

.credentialWrappers span:first-child{
    font-size:24px;
    font-weight:800;
}

.credentialWrappers span{
    margin-left:20%;
}




.errorWrapper {
    padding:30px;
    background: rgba(255,255,255,0.9);
    text-align:center;
    padding-top:50px;
}



/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

   









    #body {
    min-height: 800px;
    background-color:#FFF;
    width:800px;
    margin-left:auto;
    margin-right: auto;
    display:block;


    /*background-image:url('../Content/Images/swirl2.png');*/
    background-image:none;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:right 100px;
}


.headercontent {
        width:800px;
        height:60px;
        margin-left:auto;
        margin-right:auto;
    
}

.title {
    float:left;
    width:300px;
    font-size:25px;
    margin-left:25px;
    height:80px;
    margin-top:-10px;
    
}

    .title h1 a {
    color:#FFF;
    text-decoration:none;
    }


    #login {
    float:right;

}

        #login ul {
        list-style:none;
        }
        #login li {
            display:inline;
            margin-right:40px;
        }
        #login a {
            color:#FFF;
            font-size:20px;
            text-decoration:none;
        }


nav {
    width:800px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-15px;
    background-color:#FFC853;
    text-align:center;
    
}
#menu {
    height:30px;
}   

        #menu li {
            text-align:center;
            display:inline;
            height:40px;
            margin-right:35px;
        }
       #menu a {
            
            font-size:24px;
            color:#FFF;
            text-decoration:none;
        }

    #menu li:hover {
        border-bottom:3px solid #FFF;
    }

footer {
    background-color:#3398AD;
    height:60px;
    margin-top:-15px;
    color:#FFF;
}

.footer-content {
    margin-top:10px;
    width:800px;
    margin-left:auto;
    margin-right:auto;

}

.float-left {
    float:left;
    width:300px;
    margin-left:25px;
}

.float-right {
    float:right;
    width:100px;
    margin-top:10px;
}



.float-right img {
    max-height:40px;
    float: right;
    margin-right:50px;
}


.title img{
    max-height:50px;
}

    .homeWrapper {
        min-height:910px;
    }

.homeWrapper figure{
    margin-top:50px;
    float:left;
    position:absolute;
    top:450px;
    left:17%
}

    .homeWrapper figure img {
    max-height:350px;
    max-width:400px;
    margin-left:40px;

    }

    .homeWrapper figure figcaption {
    position:relative;
    top:-110px;
    left:100px;
    color:#FFF;
    background: rgba(0, 0, 0, 0.8);
    font-size:28px;
    padding:20px;
    width:120px;
    text-align:center;

    }


.introText {
    margin-top:50px;
    margin-left:23%;
    width:400px;
    float:left;
    display:block;
    padding:10px;
    background: rgba(255, 255, 255, 0.9);
    border-top:2px solid #ED593B;
    position:relative;
    top:50px;
    
}

#lineupwrap {
    padding-top:150px;
    margin-left:17%;
    min-height:1010px;

}
    
    #lineupwrap table td a {color: #FFF;}    
    #lineupwrap table {font-size:18px; border-spacing:0; margin-bottom:30px;display:block;     }
    #lineupwrap table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    #lineupwrap table  tr:nth-child(odd)		{ background-color:#50483D; }
    #lineupwrap table  tr:nth-child(even)		{ background-color:#ED593B; }
    #lineupwrap table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


#lineupwrap a {
    text-decoration:none;
   color:#000;
   

}

    #lineupwrap a:hover {
    color:#FFC853;
    }

#lineupwrap ul{

    list-style:none;

}



    #bandWrapper {
    min-height:910px;
    }

#bandWrapper a{
    position:relative;
    top:700px;
}

#bandWrapper img{
    display:block;
    margin-top:100px;
    margin-left:35%;
    min-height:100px;
    max-width:300px;
    float:left;
    margin-right:40px;
    border-right: 8px solid #ED593B;
    border-bottom: 8px solid #ED593B;
    border-left: 8px solid #ED593B;
    border-top: 8px solid #ED593B;
}

#bandInfo {
    padding-top:100px;
    margin-left:30%;
    position:absolute;
        top:440px;
}

    #bandInfo p {
        padding:10px;
        background:rgba(255,255,255,0.8);
    }


    #bandInfo h2 {
        
        text-align:center;
        display:block;
        width:300px;
        border-bottom:3px solid #ED593B;
        font-size:24px;
    }

    #bandInfo li {
        list-style:none;
    }

    #bandInfo a {
        display:block;
        text-decoration:none;
    }



.orderWrap table {float:left;width:95%;}
    .orderWrap table td a {color: #FFF;}    
    .orderWrap table {font-size:18px; border-spacing:0; margin-bottom:30px;     }
    .orderWrap table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    .orderWrap table  tr:nth-child(odd)		{ background-color:#50483D; }
    .orderWrap table  tr:nth-child(even)		{ background-color:#ED593B; }
    .orderWrap table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


.orderWrap a {
    text-decoration:none;
   color:#000;
}

.orderWrap {
    padding-top:50px;
    margin-left:3%;
    min-height:1000px;
}


#placeOrder {
  display:block;
  float:left;
  background:#3398AD;
  width:97%;

}


#placeOrder {

}





    #placeOrder span {
        font-size:120%;
    }


#placeOrder form{
  
  color:#FFF;
  font-weight:800;
  padding:30px;
  margin-left:35%;
}




#addRss {
    padding:10px;
 
    text-align:center;
    background:#FFF;
    height:20%;
    margin-top:30%;
    color:#FFF;
}
    #addRss form {
        float:left;
        margin-left:2%;
        padding:10px;background:#3398AD;
    
    }

    #rssContainer {
    
        margin-left:10px;
    
    }

.ticketVerkoop {
    width:95%;
    padding-top:50px;
    margin-left:25%;
    min-height:950px;
     
}


.ticketVerkoop table {float:left;width:50%;}
    .ticketVerkoop table td a {color: #FFF;}    
    .ticketVerkoop table {font-size:18px; border-spacing:0; margin-bottom:30px;     }
    .ticketVerkoop table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    .ticketVerkoop table  tr:nth-child(odd)		{ background-color:#50483D; }
    .ticketVerkoop table  tr:nth-child(even)		{ background-color:#ED593B; }
    .ticketVerkoop table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


.ticketVerkoop a {
   text-decoration:none;
   color:#000;
}


.credentialWrappers {
    min-height:900px;
    padding-top:50px;

}


    .credentialWrappers form {
        width:25%;
        margin-left:35%;
        display:block;
    
    }

        .credentialWrappers form li {
            list-style:none;
            margin-left:-10%;
            padding:10px;
        }


.social {
    margin-left:35%;
    float:left;
    width:30%;
}

#externalLogins {
    margin-left:35%;
    width:30%;

}

.credentialWrappers h3 {
    margin-left:35%;
}
.credentialWrappers h3:first-child {
    margin-left:10%;
}

.credentialWrappers span:first-child{
    font-size:24px;
    font-weight:800;
}

.credentialWrappers span{
    margin-left:35%;
}




.errorWrapper {
    padding:30px;
    background: rgba(255,255,255,0.9);
    text-align:center;
    padding-top:50px;
}
























}
