html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

/*Eigen css*/
#body {
    min-height: 800px;
    background-color:#FFF;
    width:1024px;
    margin-left:auto;
    margin-right: auto;
    display:block;
}

    header {
        height:100px;
        background-color:#3398AD;
        
    }

.headercontent {
        width:1024px;
        height:60px;
        margin-left:auto;
        margin-right:auto;
    
}

.title {
    float:left;
    width:300px;
    font-size:25px;
    margin-left:25px;
    height:80px;
    margin-top:-10px;
    
}

    .title h1 a {
    color:#FFF;
    text-decoration:none;
    }


    #login {
    float:right;

}

        #login ul {
        list-style:none;
        }
        #login li {
            display:inline;
            margin-right:15px;
        }
        #login a {
            color:#FFF;
            text-decoration:none;
        }


nav {
    width:1024px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-15px;
    background-color:#FFC853;
    text-align:center;
    
}
#menu {
    height:30px;
}   

        #menu li {
            text-align:center;
            display:inline;
            height:40px;
            margin-right:25px;
        }
       #menu a {
            
            font-size:24px;
            color:#FFF;
            text-decoration:none;
        }

    #menu li:hover {
        border-bottom:3px solid #FFF;
    }

footer {
    background-color:#3398AD;
    height:60px;
    margin-top:-15px;
    color:#FFF;
}

.footer-content {
    margin-top:10px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;

}

.float-left {
    float:left;
    width:300px;
    margin-left:25px;
}

.float-right {
    float:right;
    width:100px;
    margin-top:10px;
}



.float-right img {
    max-height:30px;
    float: right;
    margin-right:50px;
}


.title img{
    max-height:50px;
}

.homeWrapper img{
    margin-top:50px;
    max-height:450px;
    margin-left:40px;
    float:left;
}


.introText {
    margin-top:50px;
    margin-left:30px;
    width:200px;
    float:left;
    display:inline;
}

#lineupwrap {
    padding-top:150px;
    margin-left:250px;

}
    
    #lineupwrap table td a {color: #FFF;}    
    #lineupwrap table {font-size:18px; border-spacing:0; margin-bottom:30px;     }
    #lineupwrap table td {color:white;padding-left:10px;padding-right:10px;padding-top:6px;padding-bottom:6px;}
    #lineupwrap table  tr:nth-child(odd)		{ background-color:#50483D; }
    #lineupwrap table  tr:nth-child(even)		{ background-color:#ED593B; }
    #lineupwrap table  tr:nth-child(1)		{ background-color:#FFC853;font-weight:600; }


#lineupwrap a {
    text-decoration:none;
   color:#000;
}
#lineupwrap ul{

    list-style:none;

}



#day {
    margin-right:50px;
    float:left;
}

#lineup {
    float:left;

}


#bandWrapper {

}

#bandWrapper img{
    margin-top:100px;
    margin-left:50px;
    min-height:400px;
    max-width:500px;
    float:left;
    margin-right:40px;
}

#bandInfo {
    padding-top:100px;
    margin-left:50px;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

   

}
