<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="79f7f65f-3b0b-4580-b652-35cb8bd8b172" Publisher="CN=Bart" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FestivalApp</DisplayName>
    <PublisherDisplayName>Bart</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FestivalApp.App">
      <VisualElements DisplayName="Festival Viewer" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="With this app you can keep track of the bands that will come." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>