@{
    ViewBag.Title = "NotFound";
}

<div class="errorWrapper">
<h1>ERROR 404</h1>
<h2>We have our best trained monkeys tearing down the building looking for the page you requested.</h2>
<p>@Html.ActionLink("Home","Index","Home")</p>

</div>