@{
    ViewBag.Title = "HomeIndex";
}

<div class="homeWrapper">


    <h2>@ViewData["festival"]</h2>

    <figure>
        <img src="~/Content/Images/festivalHome.jpg" />
        <figcaption>Welcome</figcaption>
    </figure>
    
    
    
    <section class="introText">
    <h3>Bestellen van tickets.</h3>
    <p>
        Via deze website kunt u een overzicht krijgen van het festival. Ook kunt u tickets bestellen indien u dit wenst
    </p>
    <p>
        Om te kunnen bestellen dient u eerst een account aan te maken.
    </p>
    </section>
</div>

