@{
    ViewBag.Title = "HomeIndex";
}

<div class="homeWrapper">

    <img src="~/Content/Images/festivalHome.jpg" />
    <section class="introText">
    <h3>Bestellen van tickets.</h3>
    <p>
        Via deze website kunt u een overzicht krijgen van het festival. Ook kunt u tickets bestellen indien u dit wenst
    </p>
    <p>
        Om te kunnen bestellen dient u eerst een account aan te maken. Het wordt aangeraden om uw volledige naam te gebruiken als login zodat het duidelijk is voor wie de tickets besteld worden.
    </p>
    </section>
</div>

