@{
    ViewBag.Title = "HomeIndex";
}

<h2>Welkom</h2>

<p>Op deze site kan je een overzicht krijgen van alle groepen die komen spelen. Ook kunt u tickets reserveren.</p>
<img src="~/Content/Images/festivalHome.jpg" />