@model FestivalSite.ViewModels.LineUpVM
@using ClassLibraryModels
@{
    ViewBag.Title = "LineUpIndex";
}

    <div>
    <h2>Pick a day.</h2>

    <ul>
        @foreach(DateTime day in Model.Days){

            //toon alle dagen van het festival als link  -> geef een overzicht van alle stages met hun lineup voor die dag indien er op geklikt wordt
            <li>@Html.ActionLink(day.DayOfWeek + "\t" + day.Date.ToShortDateString(), "LineUpForDay", new {date = day,lineVM = Model})</li>
    
        }
    
    </ul>
    </div>

    <div>
    <h2>Pick a band to see their scedule:</h2>
    <table>



        @foreach (Band band in Model.BandList)
        {
            
            //toon enkel de bands waarvoor een lineup is
            if(LineUp.GetLineUpForBand(band.ID).Count != 0){
            <tr>
                <td>@band.Name</td>
                <td>@Html.ActionLink("Info","Detailband",new {bandID = band.ID,lineVM = Model})</td>
                <td>@Html.ActionLink("see line-up","BandLineUp",new {bandID = band.ID,lineVM = Model})</td>
            </tr>
            }
        }

    </table>
    </div>