@model FestivalSite.ViewModels.LineUpVM
@using ClassLibraryModels
@{
    ViewBag.Title = "LineUpIndex";
}

    

    <div id="lineupwrap">
    
    
    
    <table>
        <tr><td>Pick a day:</td></tr>
        @foreach(DateTime day in Model.Days){
            <tr>
           
            <td>@Html.ActionLink(day.DayOfWeek+"", "LineUpForDay", new {date = day,lineVM = Model})</td>
        <td>@Html.ActionLink(day.Date.ToShortDateString(), "LineUpForDay", new {date = day,lineVM = Model})</td>
    
            </tr>
        }
    
    </table>
    




    
    <table>
    <tr><td>Pick a band:</td></tr>


        @foreach (Band band in Model.BandList)
        {
            
            //toon enkel de bands waarvoor een lineup is
            if(LineUp.GetLineUpForBand(band.ID).Count != 0){
            <tr>
                <td>@Html.ActionLink(band.Name,"Detailband",new {bandID = band.ID,lineVM = Model})</td>
                <td>@Html.ActionLink("see line-up","BandLineUp",new {bandID = band.ID,lineVM = Model})</td>
            </tr>
            }
        }

    </table>
    </div>